form {
    background-color: #e0f2e7be;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulo{
    text-align: center;
    color: #2e2000;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, button {
    width: 90%; /*  revisar*/
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #c05808;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #743404;
}